<container>
    <row class="hero">
        <col>
            <div class="hero-intro">
                <h2>Blog, Comments, Suggestions</h2><br>
                <p>Feel free to introduce yourselves here! 
                    This is a good opportunity to tell people what you're hoping to get from this group. 
                    
                    Here are a few questions to help everyone get acquainted:
                    
                    What kind of music do you write? What platform do you use to produce finished songs?
                    What instrument do you play? 
                    What are you hoping to improve on? 
                    What are your strengths, how can you help others improve?</p>
            </div>
        </col>
    </row>
    <row>
        <col>
            <div> 
                <label for="bio">Comment Thread</label>
            <textarea type="text" name="bio" id="bio" class="form-input" cols="30" rows="10">Post your comments here...</textarea>
        </div>
        </col>
    </row>
</container>

