<container>
    <row class="hero">
        <col>
            <div class="hero-intro">
                <h2>Meet our Musicians</h2><br>
                
            </div>
        </col>
    </row>
</container>