<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<container>
    <row class="hero">
        <col>
            <div class="hero-intro">
                <h2>Meet our Musicians</h2><br>
                <ul id="musicians">{{#each musicians}}
                    <li class="musiciansLI">
                        <ul>
                      <a href= '#' onclick="show()" >{{this.username}}</a>
                    </ul>
                    </li>                       
                    {{/each}}

                </ul>
            </div>
        </col>
        <col>
        <div class="hero-form" id = "profile" style = "display:none">
        <div id="show_profile">{{#each musicians}}
        <h3>{{this.username}}</h3><br>
        <img src ="/uploads/{{this.image}}" id = "profil-image" width="80" height="80"><br>
        <label id="bio_intro">About me : {{this.bio}} </label><br>
        <ul>Musician Submissions</ul>
        <li><a href ="#">link to music</a></li><br><br>
        {{/each}}
        </div>
        
    </row>
</container>



<script>
    

    function show(){
        var profile = document.getElementById("profile");

        console.log(profile);
        if(profile.style.display === "none"){
        profile.style.display="block";
        } else {
            profile.style.display = "none";
        }
    }


</script>